		
	        	<div class="content_title content_ctf">
	        	  <h2>Welcome to Demo App</h2>
	        	</div>
	            <div class="content">
	          	    <div>
		                <% if flash[:error] %>
						    <h3 class="text-error"><%= flash[:error] %></h3>
						<% end %>
					</div>
					<hr />
					<h1>Log in</h1>
					<div>
						<%= form_tag sessions_path do %>
						  <div class="field">
						    <!--<%= label_tag :email %>-->
						    <p>Email : </br>   <%= text_field_tag :email, cookies[:user_email] %>
						    </p>
						  </div>
						  <div class="field">
						    <!--<%= label_tag :password %>-->
						    <p>Password : </br><%= password_field_tag :password, cookies[:user_password] %></p>
						  </div>
						  <div>
						  	<p> <%= check_box_tag :remember_me, checked = true, params[:remember_me] %>  Remember me</p>
						  </div>
						  <div class="actions"><%= submit_tag "Log in", class: "btn" %></div>
						  </br><p>New user? <%= link_to "Sign up now!", users_new_url %></p>
						<% end %>
					 </div>	
		                <div class="cleaner"></div>
		      </div> <!-- end content -->
		      <div class="content_bottom content_cbf"></div>
